<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uek.mikeb.shoppinglist" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlanningActivity"
            android:label="@string/title_activity_planning"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uek.mikeb.shoppinglist.MainActivity" />
        </activity>
        <activity
            android:name=".ShoppingListActivity"
            android:label="@string/title_activity_shopping_list"
            android:parentActivityName=".PlanningActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uek.mikeb.shoppinglist.PlanningActivity" />
        </activity>
        <activity
            android:name=".ShoppingActivity"
            android:label="@string/title_activity_shopping"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uek.mikeb.shoppinglist.MainActivity" />
        </activity>
        <activity
            android:name=".ShoppingDetailsActivity"
            android:label="@string/title_activity_shopping_details"
            android:parentActivityName=".ShoppingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uek.mikeb.shoppinglist.ShoppingActivity" />
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
